body {
	@apply text-neutral-900 dark:bg-gray-700 dark:text-neutral-200 font-mono font-light;
}

:root {
	--bg-light: hsl(60, 53%, 93%);
}

body {
	background-color: var(--bg-light);
}

.custom-card {
	@apply bg-cream dark:bg-gray-800 border-2 border-black dark:border-white rounded-xl shadow-xl hover:shadow-2xl transition-all duration-500;
}

.no-pre-margin pre {
	margin: 0;
}

.prose video {
	@apply rounded-md w-full;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}